<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL4wCWznqvXVnF6Hfv30uxeZFHPZQl2wI</string>
	<key>GCM_SENDER_ID</key>
	<string>994038335980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberCloneApp</string>
	<key>PROJECT_ID</key>
	<string>uber-indrive-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-indrive-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994038335980:ios:460235747aa88b88d318c9</string>
</dict>
</plist>